body {
  background-color: #3b4048;
  color: white;
}

.namespaces {
  background-color: #282c34;
  min-height: 100vh;
  color: #abb2bf;
  text-align: center;
}

.namespaces img {
  margin-top: 10px;
  background-color: #abb2bf;
  border-radius: 10px;
  cursor: pointer;
  width: 45px;
}

.room-list {
  padding-left: 0px;
}

.room-list li {
  cursor: pointer;
  list-style-type: none;
  padding: 0px 15px;
}

.room-list li span {
  margin-right: 5px;
}

.room-list li.active {
  background-color: #61afef;
  color: #fff;
}

.rooms {
  background: #3b4048;
  min-height: 100vh;
  color: #abb2bf;
}

.chat-panel {
  background-color: #fff;
  min-height: 100vh;
  position: relative;
  padding-top: 10px;
}

.chat-panel .curr-room-text {
  color: #282c34;
  font-size: 26px;
}

.curr-room-num-users,
.search {
  font-size: 14px;
  color: #abb2bf;
  position: realtive;
}

.search {
  margin-top: 5px;
}

.search span {
  position: absolute;
  left: 25px;
  top: 10px;
}

.search input {
  padding-left: 30px;
}

.message-form {
  margin: 0px;
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
  width: 98%;
}

input {
  width: 100%;
  height: 34px;
  color: #abb2bf;
  border: 1px solid #3b4048;
  border-radius: 5px;
  padding-left: 5px;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #3b4048;
  max-height: 85%;
  overflow: scroll;
}

#messages li .user-image {
  /* width: 50px; */
  /* display: inline-block; */
}

#messages li .user-message {
  margin-left: 10px;
  color: #222;
}

#messages li .user-name-time span {
  color: #abb2bf;
}

#messages li {
  padding: 5px 10px;
  display: flex;
  align-items: stretch;
}

/*# sourceMappingURL=chat.css.map */
